<section class="section subscribe">
    <h2>Sign up for updates, your complimentary ‘birday’ treat & tour, magic & more!</h2>
    <form id="form-contact" name="submit-to-google-sheet">
        <div class="field has-addons">
            <div class="control is-expanded">
                <input type="text" name="firstname" placeholder="First name (required)" class="input" required>
            </div>
            <div class="control is-expanded">
                <input type="text" name="lastname" placeholder="Last name" class="input">
            </div>
            <div class="control is-expanded">
                <input type="email" name="email" placeholder="Email (required)" class="input" required>
            </div>

            <div class="control is-expanded">
                <input type="phone" name="phone" placeholder="Phone (optional)" class="input">
            </div>
            <div class="control is-expanded">
                <input type="text" name="comments" placeholder="Your message" class="input">
            </div>
            <div class="control">
                <button type="submit" class="button is-primary submit-button" id="submit-button">Submit</button>
            </div>
            <p><a href="https://docs.google.com/forms/d/e/1FAIpQLSdlXmnJNGBiPXI6vzrr9fctmbW0GMFkha2AXLdHSkKiKQ-lUQ/viewform?vc=0&c=0&w=1" target="_blank">Terms and Conditions</a></p>
        </div>
    </form>
</section>


<script>
    const scriptURL = 'https://script.google.com/macros/s/AKfycbwBhJmLGa5xKIVb4dMr9HZUj20Ji_nB2l6RJj23pxe7NU9hQBtS/exec'
    const form = document.forms['submit-to-google-sheet']

    form.addEventListener('submit', e => {
    e.preventDefault()
    fetch(scriptURL, { method: 'POST', body: new FormData(form)})
      .then(response => console.log('Success!', response))
      .catch(error => console.error('Error!', error.message))
    })

    document.getElementById('form-contact').addEventListener('submit',function(){
        var button = document.getElementById('submit-button');
        button.innerText = 'Message Sent';
        button.disabled = e;
    });
</script>